@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "./multiselect.css";
@import "./filepond.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Rubik";
	src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
@layer components {
	.container,
	.container-fluid,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		--bs-gutter-x: 1.5rem;
		--bs-gutter-y: 0;
		width: 100%;
		padding-right: calc(var(--bs-gutter-x) * 0.5);
		padding-left: calc(var(--bs-gutter-x) * 0.5);
		margin-right: auto;
		margin-left: auto;
	}

	@media (min-width: 576px) {
		.container,
		.container-sm {
			max-width: 540px;
		}
	}

	@media (min-width: 768px) {
		.container,
		.container-md,
		.container-sm {
			max-width: 720px;
		}
	}

	@media (min-width: 992px) {
		.container,
		.container-lg,
		.container-md,
		.container-sm {
			max-width: 960px;
		}
	}

	@media (min-width: 1200px) {
		.container,
		.container-lg,
		.container-md,
		.container-sm,
		.container-xl {
			max-width: 1140px;
		}
	}

	@media (min-width: 1400px) {
		.container,
		.container-lg,
		.container-md,
		.container-sm,
		.container-xl,
		.container-xxl {
			max-width: 1320px;
		}
	}
	p {
		@apply text-gray-600 dark:text-gray-400;
	}

	h3 {
		@apply text-gray-700 dark:text-gray-300 font-semibold text-2xl;
	}

	h4 {
		@apply text-gray-700 dark:text-gray-400 font-semibold text-xl;
	}

	.card {
		@apply relative w-full rounded-sm min-w-[1px] flex-col break-words bg-white text-gray-500 shadow-sm dark:bg-gray-800 dark:text-gray-200 dark:shadow-none print:border;
	}

	.card-body {
		@apply flex-auto p-4;
	}

	.card-header {
		@apply flex-auto p-4;
	}

	.card-header {
		@apply border-b border-dashed border-gray-300 dark:border-gray-700 dark:bg-gray-700 p-4;
	}

	.card-title {
		@apply font-medium;
	}

	.icontainer {
		@apply w-full;
	}

	.main-content {
		@apply mt-[60px] grid grid-cols-1 place-content-start transition-[width,
        margin-left,
        margin-right,
        padding-left,
        padding-right] duration-[.10s] ease-in print: m-0 md:ml-[var(--main-sidebar-width)];
	}

	.table-default {
		@apply max-w-full table-auto w-full;
	}

	.table-default {
		@apply dark:divide-gray-600;
	}

	.table-default thead {
		@apply bg-gray-50 dark:bg-gray-700;
	}

	.table-default thead > tr > th {
		@apply text-gray-800 dark:text-gray-200 text-xs font-semibold tracking-wider py-3 px-6 text-left uppercase;
	}

	.table-default tbody {
		@apply divide-y divide-gray-100 dark:divide-gray-600;
	}

	.table-default tbody > tr > td {
		padding: 1rem 1.5rem;
	}

	.table-default tfoot > tr > td {
		--tw-border-opacity: 1;
		border-color: rgba(229, 231, 235, var(--tw-border-opacity));
		border-top-width: 1px;
		padding: 0.75rem 1.5rem;
	}

	.dark .table-default tfoot > tr > td {
		--tw-border-opacity: 1;
		border-color: rgba(55, 65, 81, var(--tw-border-opacity));
	}

	.table-default.borderless-row tbody > :not([hidden]) ~ :not([hidden]) {
		border-style: none;
	}

	.btn {
		@apply disabled:opacity-60 disabled:pointer-events-none inline-flex cursor-pointer items-center justify-center rounded-sm px-4 py-1.5 text-center tracking-wide outline-none transition-all duration-200 focus:outline-none;
	}

	.form-input,
	.form-textarea,
	.form-select,
	.form-multiselect,
	.form-radio,
	.form-checkbox,
	.form-switch,
	.form-checkbox::before,
	.form-radio::before,
	.form-switch::before {
		@apply transition-all duration-200 ease-in-out;
	}

	.form-input,
	.form-textarea,
	.form-select,
	.form-multiselect {
		@apply appearance-none tracking-wide outline-none placeholder:font-light focus:outline-none;
		contain: paint;
	}

	.form-select {
		@apply bg-center bg-no-repeat;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 20 20'%3e%3cpath stroke='%235C6B8A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
		background-position: right 0.5rem center;
		background-size: 1.5em 1.5em;
		print-color-adjust: exact;
	}

	.form-multiselect {
		background-image: initial;
		background-position: initial;
		background-repeat: unset;
		background-size: initial;
		padding-right: 0.75rem;
		print-color-adjust: unset;
	}

	.form-checkbox,
	.form-radio,
	.form-switch {
		@apply relative shrink-0 cursor-pointer select-none appearance-none overflow-hidden outline-none
   focus:outline-none;
		print-color-adjust: exact;
	}

	.form-switch {
		@apply [--thumb-border:2px] before:absolute focus-visible:ring
  before:top-[var(--thumb-border)] before:left-[var(--thumb-border)]
  before:h-[calc(100%-var(--thumb-border)*2)] 
  before:w-[calc((100%/2)-(var(--thumb-border)*2))]
  checked:before:translate-x-[calc(100%+(var(--thumb-border)*2))];
	}

	.form-switch.outline {
		@apply before:w-[calc((100%/2)-(var(--thumb-border)*2)-1px)]
  checked:before:translate-x-[calc(100%+(var(--thumb-border)*2)+2px)];
	}

	.form-radio {
		--tw-thumb: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3.5'/%3e%3c/svg%3e");
		@apply before:ease-out;
	}

	.form-checkbox {
		--tw-thumb: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
		@apply before:origin-bottom before:ease-in-out;
	}

	.form-radio,
	.form-checkbox {
		@apply inline-block border ease-out before:absolute before:inset-0 before:h-full  before:w-full before:scale-0 checked:before:scale-100 hover:shadow-lg;
	}

	.form-radio.basic,
	.form-checkbox.basic {
		@apply bg-origin-border before:bg-center before:bg-no-repeat before:[background-size:100%_100%] before:[background-image:var(--tw-thumb)];
	}

	.form-radio.outline,
	.form-checkbox.outline {
		@apply before:[mask-image:var(--tw-thumb)];
	}

	.badge,
	.tag {
		@apply text-xs font-sans tracking-wide align-baseline transition-all duration-200  inline-flex items-center justify-center px-2 py-1.5 leading-none rounded font-medium;
	}

	.tag {
		@apply cursor-pointer;
	}

	@keyframes shake {
		0% {
			transform: translateX(0);
			background-color: #ff0;
		}

		10% {
			transform: translateX(-25px);
			background-color: #ff0;
		}

		20% {
			transform: translateX(25px);
			background-color: #ff0;
		}

		30% {
			transform: translateX(-25px);
		}

		40% {
			transform: translateX(25px);
		}

		50% {
			transform: translateX(-25px);
		}

		60% {
			transform: translateX(25px);
		}

		70% {
			transform: translateX(-25px);
		}

		80% {
			transform: translateX(25px);
		}

		90% {
			transform: translateX(-25px);
		}

		to {
			transform: translateX(0);
		}
	}

	.animate-shake {
		animation: shake 0.7s ease-in-out;
	}

	.filepond.filepond--root[data-style-panel-layout~="circle"]
		.filepond--file
		[data-align*="right"] {
		right: calc(50% - 1em);
		top: calc(50% - 1em);
	}

	.filepond {
		@apply block w-full;
	}
	.filepond .filepond--credits {
		@apply hidden;
	}

	.fp-grid {
		@apply [--fp-grid:1];
	}

	.filepond--credits {
		@apply !opacity-[.1] !h-0 !p-0 !m-0 !font-light;
	}

	.filepond.fp-grid .filepond--item {
		width: calc(calc(1 / var(--fp-grid)) * 100% - 0.5rem);
	}

	.filepond.fp-bordered .filepond--panel-root {
		@apply border-2 border-gray-300 border-dashed dark:border-gray-400 bg-transparent;
	}

	.filepond.nft-upload .filepond--root {
		@apply !mb-0;
	}

	.filepond.nft-upload .filepond--panel-root {
		@apply min-h-[256px] bg-transparent;
	}

	.filepond.nft-upload .filepond--drop-label {
		@apply min-h-[256px];
	}

	.filepond.nft-upload {
		@apply min-h-[256px];
	}

	.filepond.fp-bg-filled .filepond--panel-root {
		@apply bg-gray-200/80 dark:bg-gray-500/[.85];
	}

	.filepond--drop-label label {
		@apply text-gray-600 dark:text-gray-100;
	}

	.filepond.label-icon .filepond--drop-label label {
		@apply text-gray-400 dark:text-gray-300;
	}
}

.form-range {
	@apply block w-full appearance-none bg-transparent outline-none 
  [--range-thumb-size:1.125rem] [--range-track-h:0.375rem];
}

.form-range::-webkit-slider-thumb {
	@apply relative top-[50%] h-[var(--range-thumb-size)] w-[var(--range-thumb-size)] cursor-pointer appearance-none rounded-full border-none bg-current active:opacity-[.85];
	transform: translateY(-50%);
}

.form-range::-moz-range-thumb {
	@apply relative top-[50%] h-[var(--range-thumb-size)] w-[var(--range-thumb-size)] cursor-pointer appearance-none rounded-full border-none bg-current active:opacity-[.85];
}

.form-range::-moz-range-track {
	@apply h-[var(--range-track-h)] w-full rounded-full bg-gray-100 dark:bg-gray-500;
}

.form-range::-webkit-slider-runnable-track {
	@apply h-[var(--range-track-h)] w-full rounded-full bg-gray-100 dark:bg-gray-500;
}

.link {
	@apply hover:text-red-500 border dark:border-gray-600 inline-flex cursor-pointer items-center justify-center p-4 text-center tracking-wide outline-none transition-all duration-200 focus:outline-none disabled:pointer-events-none disabled:opacity-60 h-6 w-6 rounded-full hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-gray-300/20 dark:focus:bg-gray-300/20 dark:active:bg-gray-300/25;
}
